<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<div layout:fragment="content">
    <!-- Header-->
    <header class="bg-main-theme py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">관리자 모드</h1>
            </div>
        </div>
    </header>
    <div class="container px-4 px-lg-5 mt-5" style="width:800px;">
        <div style="font-weight:bold; font-size:30px;">CAU BANK</div>
        <div style="font-weight:bold; font-size:24px;">관리자 모드</div>
        <div style="margin:10px 0px;">
            <input type="text" placeholder="Search product">
        </div>
        <div class="button-group">
            <button class="button" style="margin-bottom: 200px; height: 50px; width: 150px; background-color: #0B71C5; color:white; border: none;" onclick="window.location.href='/user-list-manager'">고객 검색</button>
            <button class="button" style="margin-bottom: 200px; height: 50px; width: 150px; background-color: #0B71C5; color:white; border: none;" onclick="window.location.href='/product-list-manager'">고객 신청 상품 검색</button>
            <button class="button" style="margin-bottom: 200px; height: 50px; width: 150px; background-color: #0B71C5; color:white; border: none;" onclick="window.location.href='/product-deletion'">상품 삭제</button>
        </div>
    </div>
</div>
</html>

