<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<div layout:fragment="content">
  <!-- Header-->
  <header class="bg-main-theme py-5">
    <div class="container px-4 px-lg-5 my-5">
      <div class="text-center text-white">
        <h1 class="display-4 fw-bolder">적금 상품 목록</h1>
      </div>
    </div>
  </header>
  <div class="container px-4 px-lg-5 mt-5" style="width:800px;">
    <div style="font-weight:bold; font-size:30px;">CAU BANK</div>
    <div class="subtitle">고객 신청 상품 검색</div>
    <div class="search-bar">
      <input type="text" id="productSearch" onkeyup="searchProducts()" placeholder="Search product">
    </div>
    <table id="productTable">
      <thead>
      <tr>
        <th>User ID</th>
        <th>User Name</th>
        <th>Product Type</th>
        <th>Product Name</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="item : ${productList}">
        <td th:text="${item.user_id}"></td>
        <td th:text="${item.username}"></td>
        <td th:text="${item.account_type_id}"></td>
        <td th:text="${item.product_name}"></td>
      </tr>
      </tbody>
    </table>
    <button onclick="window.history.back();">뒤로 가기</button>
  </div>
</div>
</html>
