<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Manager</title>
  <link rel="stylesheet" type="text/css" href="/css/productListManager.css">
  <script src="/js/productListManager.js"></script>

</head>
<body>
<div class="title">CAUCAU BANK</div>
<div class="subtitle">고객 신청 상품 검색</div>
<div class="search-bar">
  <input type="text" id="productSearch" onkeyup="searchProducts()" placeholder="Search product">
</div>
<table id="productTable">
  <thead>
  <tr>
    <th>User ID</th>
    <th>User Name</th>
    <th>Product Type</th>
    <th>Product Name</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="item : ${productList}">
    <td th:text="${item.user_id}"></td>
    <td th:text="${item.username}"></td>
    <td th:text="${item.account_type_id}"></td>
    <td th:text="${item.product_name}"></td>
  </tr>
  </tbody>
</table>
<button onclick="window.history.back();">뒤로 가기</button>
</body>
</html>
