<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<div layout:fragment="content">
    <!-- Header-->
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">적금 상품 신청하기</h1>
            </div>
        </div>
    </header>
    <!-- Body -->
    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <div>상품 이름 </div>
            <div>요구 조건 </div>
            <div>요구 조건 </div>
        </div>
    </section>
</div>
</html>