<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>상품 찾기</title>
</head>
<body>
<div>상품 찾기</div>
<div style="display: flex;">
    <button onclick="window.location.href='/installment-account-list'">적금</button>
    <button onclick="window.location.href='/deposit-product-list'">예금</button>
    <button onclick="window.location.href='/checking-account-product-list'">입출금</button>
    <button onclick="window.location.href='/loan-product-list'">대출</button>
    <button onclick="window.location.href='/card-product-list'">카드</button>
</div>
</body>
</html>