
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<head>
<style>
    .loan-table{
        border: 1px solid black;
    }
    .loan-table th{
        border: 1px solid black;
        padding: 5px;
        font-weight:bold;
    }
    .loan-table tr{
        border: 1px solid black;
    }
    .loan-table td{
        border: 1px solid black;
        padding: 5px;
    }
</style></head>
<div layout:fragment="content">
    <!-- Header-->
    <header class="bg-main-theme py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">대출 계좌 목록</h1>
            </div>
        </div>
    </header>
    <div class="container px-4 px-lg-5 mt-5" style="width:1300px; display: flex; flex-direction: column;">
        <table class="loan-table">
            <thead>
            <tr>
                <th>명의</th>
                <th>계좌 번호</th>
                <th>예치금</th>
                <th>상품 이름</th>
                <th>만기일</th>
                <th>이자율</th>
                <th>납부일</th>
                <th>연체 이자율</th>
                <th>대출 목적</th>
            </tr>
            </thead>
            <tbody th:each="account : ${loanAccountList}">
            <tr>
                <td th:text="${account.username}">Username</td>
                <td th:text="${account.account_number}">Account Number</td>
                <td th:text="${#numbers.formatDecimal(account.balance, 0, 'COMMA', 0, 'POINT')}+'원'">Balance</td>
                <td th:text="${account.product_name}">Product Name</td>
                <td th:text="${account.expiration_date}">Expiration Date</td>
                <td th:text="${account.interest_rate}+'%'">Interest Rate</td>
                <td th:text="${account.payment_date}">Payment Date</td>
                <td th:text="${account.overdue_interest_rate}+'%'">Overdue Interest Rate</td>
                <td th:text="${account.loan_purpose}">Loan Purpose</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</html>
