<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<div layout:fragment="content">
    <script>
        $(document).ready(function () {
            $("#asyncButton").click(function () {
                const accountNumber = $("#account").val();
                $.ajax({
                    type: "GET",
                    url: "/get-name/" + accountNumber,
                    success: function (data) {
                        $("#result").text(data);
                    },
                    error: function (error) {
                        console.log("Error:", error);
                    }
                });
            });

            $("#sendButton").click(function () {
                const firstAccountNumber = $("#accountNumber").text();
                const secondAccountNumber = $("#account").val();
                const amount = $("#amount").val();
                const balance = $("#balance2").text();
                $.ajax({
                    type: "GET",
                    url: "/get-transferred/" + balance + "/" + firstAccountNumber + "/" + secondAccountNumber + "/" + amount,
                    success: function (data) {
                        window.location.reload();
                    },
                    error: function (error) {
                        console.log("Error:", error);
                    }
                });
            });
        });
    </script>
    <!-- Header-->
    <header class="bg-main-theme py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">송금</h1>
            </div>
        </div>
    </header>
    <div class="container mt-5" style="width:400px;">
        <div id="balance2" style="display: none;" th:text="${account.balance}">
        </div>
        <div class="loan-head">
         현재 계좌 번호
        </div>
        <div class="loan-body" id="accountNumber" th:text="${account.account_number}"></div>
        <div class="loan-head">
            소유 금액
        </div>
        <div class="loan-body" id="balance" th:text="${#numbers.formatDecimal(account.balance, 0, 'COMMA', 0, 'POINT')}+'원'">
        </div>
        <div class="loan-head">
            보낼 계좌
            <div>
                <input type="text" id="account" name="account">
            </div>
        </div>

        <button class="button"
                style="margin-top:10px; font-size:16px; height: 40px; width: 150px; background-color: #0B71C5; color:white; border: none;"
                id="asyncButton"
        >계좌 소유주 확인
        </button>

        <div class="loan-head">
            계좌 소유주
            <div class="loan-body" id="result" style="height:50px;"></div>
        </div>

        <div class="loan-head">
            보낼 금액
            <div>
            <input type="number" id="amount" name="amount"> 원
            </div>
        </div>

        <button class="button" id="sendButton"
                style="margin-top:10px;  font-size:16px; height: 40px; width: 150px; background-color: #0B71C5; color:white; border: none;"
        >송금하기
        </button>
    </div>
</div>
</html>
