<div class="01" style="width: 1125px; height: 2436px; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
  <div class="Screen0100000038415348848220607890000007626015479483771021" style="width: 1125px; height: 2436px; position: relative">
    <div class="Vector" style="width: 1125px; height: 2436px; left: 0px; top: 0px; position: absolute; background: #719EFF"></div>
    <div class="GraphicElement" style="width: 439.96px; height: 1837.56px; left: 349.34px; top: 485.76px; position: absolute">
      <div class="Group" style="width: 439.96px; height: 344.70px; left: 0px; top: 0px; position: absolute">
        <div class="Vector" style="width: 59.48px; height: 130.49px; left: 35.63px; top: 0px; position: absolute; background: white"></div>
        <div class="Vector" style="width: 72.63px; height: 128.33px; left: 101.78px; top: 1.08px; position: absolute; background: white"></div>
        <div class="Vector" style="width: 59.48px; height: 130.49px; left: 182.35px; top: 0px; position: absolute; background: white"></div>
        <div class="Vector" style="width: 72.63px; height: 128.33px; left: 248.49px; top: 1.08px; position: absolute; background: white"></div>
        <div class="Vector" style="width: 59.48px; height: 129.41px; left: 330.14px; top: 1.08px; position: absolute; background: white"></div>
        <div class="Vector" style="width: 88.21px; height: 190.31px; left: 0px; top: 154.38px; position: absolute; background: white"></div>
        <div class="Vector" style="width: 107.72px; height: 190.31px; left: 98.36px; top: 154.38px; position: absolute; background: white"></div>
        <div class="Vector" style="width: 95.16px; height: 190.31px; left: 218.38px; top: 154.38px; position: absolute; background: white"></div>
        <div class="Vector" style="width: 101.84px; height: 190.31px; left: 338.12px; top: 154.38px; position: absolute; background: white"></div>
      </div>
      <div class="Group" style="width: 171px; height: 15px; left: 127.66px; top: 1822.56px; position: absolute">
        <div class="Vector" style="width: 45px; height: 15px; left: 0px; top: 0px; position: absolute; opacity: 0.30; background: white"></div>
        <div class="Vector" style="width: 45px; height: 15px; left: 63px; top: 0px; position: absolute; background: #0B008A"></div>
        <div class="Vector" style="width: 45px; height: 15px; left: 126px; top: 0px; position: absolute; opacity: 0.30; background: white"></div>
      </div>
    </div>
    <div class="Text" style="width: 959.96px; height: 800.49px; left: 79.71px; top: 1182.97px; position: absolute">
      <div class="Vector" style="width: 959.96px; height: 356.44px; left: 0px; top: 0px; position: absolute; background: white"></div>
      <div class="Vector" style="width: 959.96px; height: 2.20px; left: 0px; top: 180.88px; position: absolute; background: #8C8E90"></div>
      <div class="Group" style="width: 246.65px; height: 10.78px; left: 168.89px; top: 262.87px; position: absolute">
        <div class="Vector" style="width: 10.13px; height: 10.78px; left: 0px; top: 0px; position: absolute; background: #AEB0B2"></div>
        <div class="Vector" style="width: 10.13px; height: 10.78px; left: 26.28px; top: 0px; position: absolute; background: #AEB0B2"></div>
        <div class="Vector" style="width: 10.13px; height: 10.78px; left: 52.57px; top: 0px; position: absolute; background: #AEB0B2"></div>
        <div class="Vector" style="width: 10.13px; height: 10.78px; left: 78.85px; top: 0px; position: absolute; background: #AEB0B2"></div>
        <div class="Vector" style="width: 10.13px; height: 10.78px; left: 105.13px; top: 0px; position: absolute; background: #AEB0B2"></div>
        <div class="Vector" style="width: 10.13px; height: 10.78px; left: 131.41px; top: 0px; position: absolute; background: #AEB0B2"></div>
        <div class="Vector" style="width: 10.13px; height: 10.78px; left: 157.69px; top: 0px; position: absolute; background: #AEB0B2"></div>
        <div class="Vector" style="width: 10.13px; height: 10.78px; left: 183.96px; top: 0px; position: absolute; background: #AEB0B2"></div>
        <div class="Vector" style="width: 10.13px; height: 10.78px; left: 210.24px; top: 0px; position: absolute; background: #AEB0B2"></div>
        <div class="Vector" style="width: 10.13px; height: 10.78px; left: 236.52px; top: 0px; position: absolute; background: #AEB0B2"></div>
      </div>
      <div class="Vector" style="width: 41.85px; height: 50.90px; left: 46.64px; top: 244.16px; position: absolute; background: #2A3747"></div>
      <div class="Vector" style="width: 627px; height: 138px; left: 163.41px; top: 502.34px; position: absolute; background: #F0F5FF"></div>
      <div class="Group" style="width: 135.34px; height: 43.98px; left: 409.71px; top: 551.96px; position: absolute">
        <div class="Vector" style="width: 24.13px; height: 33.78px; left: 0px; top: 0px; position: absolute; background: #0B008A"></div>
        <div class="Vector" style="width: 25.08px; height: 26.54px; left: 26.65px; top: 7.83px; position: absolute; background: #0B008A"></div>
        <div class="Vector" style="width: 24.57px; height: 36.15px; left: 55.31px; top: 7.83px; position: absolute; background: #0B008A"></div>
        <div class="Vector" style="width: 7.30px; height: 33.78px; left: 98.78px; top: 0px; position: absolute; background: #0B008A"></div>
        <div class="Vector" style="width: 22.83px; height: 25.95px; left: 112.51px; top: 7.83px; position: absolute; background: #0B008A"></div>
      </div>
      <div class="Group" style="width: 383.88px; height: 41.49px; left: 289.37px; top: 759px; position: absolute">
        <div class="Vector" style="width: 16.77px; height: 28.49px; left: 0px; top: 1.84px; position: absolute; background: #3886FF"></div>
        <div class="Vector" style="width: 23.04px; height: 23.33px; left: 21.24px; top: 7.38px; position: absolute; background: #3886FF"></div>
        <div class="Vector" style="width: 11.44px; height: 22.96px; left: 50.55px; top: 7.38px; position: absolute; background: #3886FF"></div>
        <div class="Vector" style="width: 23.21px; height: 34.11px; left: 66.38px; top: 7.38px; position: absolute; background: #3886FF"></div>
        <div class="Vector" style="width: 23.04px; height: 23.33px; left: 95.86px; top: 7.38px; position: absolute; background: #3886FF"></div>
        <div class="Vector" style="width: 12.87px; height: 28.21px; left: 123.24px; top: 2.13px; position: absolute; background: #3886FF"></div>
        <div class="Vector" style="width: 19.93px; height: 28.49px; left: 154.36px; top: 1.84px; position: absolute; background: #3886FF"></div>
        <div class="Vector" style="width: 23.21px; height: 23.33px; left: 178.84px; top: 7.38px; position: absolute; background: #3886FF"></div>
        <div class="Vector" style="width: 18.08px; height: 23.33px; left: 208.61px; top: 7.38px; position: absolute; background: #3886FF"></div>
        <div class="Vector" style="width: 18.08px; height: 23.33px; left: 232.14px; top: 7.38px; position: absolute; background: #3886FF"></div>
        <div class="Vector" style="width: 33.01px; height: 22.59px; left: 254.24px; top: 7.75px; position: absolute; background: #3886FF"></div>
        <div class="Vector" style="width: 23.04px; height: 23.33px; left: 290.85px; top: 7.38px; position: absolute; background: #3886FF"></div>
        <div class="Vector" style="width: 11.44px; height: 22.96px; left: 320.16px; top: 7.38px; position: absolute; background: #3886FF"></div>
        <div class="Vector" style="width: 23.21px; height: 30.71px; left: 335.99px; top: 0px; position: absolute; background: #3886FF"></div>
        <div class="Vector" style="width: 18.33px; height: 29.19px; left: 365.55px; top: 1.44px; position: absolute; background: #3886FF"></div>
      </div>
      <div class="Group" style="width: 317.84px; height: 30.56px; left: 159.07px; top: 77.23px; position: absolute">
        <div class="Vector" style="width: 19.59px; height: 28.48px; left: 0px; top: 1.59px; position: absolute; background: #AEB0B2"></div>
        <div class="Vector" style="width: 17.50px; height: 21.36px; left: 25.32px; top: 8.70px; position: absolute; background: #AEB0B2"></div>
        <div class="Vector" style="width: 12.07px; height: 27.22px; left: 47.55px; top: 3.13px; position: absolute; background: #AEB0B2"></div>
        <div class="Vector" style="width: 18.65px; height: 21.86px; left: 63.39px; top: 8.70px; position: absolute; background: #AEB0B2"></div>
        <div class="Vector" style="width: 11.03px; height: 21.36px; left: 88.15px; top: 8.70px; position: absolute; background: #AEB0B2"></div>
        <div class="Vector" style="width: 24.89px; height: 28.48px; left: 113.31px; top: 1.59px; position: absolute; background: #AEB0B2"></div>
        <div class="Vector" style="width: 19.66px; height: 21.86px; left: 137.47px; top: 8.70px; position: absolute; background: #AEB0B2"></div>
        <div class="Vector" style="width: 17.19px; height: 21.37px; left: 163.23px; top: 9.19px; position: absolute; background: #AEB0B2"></div>
        <div class="Vector" style="width: 11.03px; height: 21.36px; left: 187.95px; top: 8.70px; position: absolute; background: #AEB0B2"></div>
        <div class="Vector" style="width: 19.59px; height: 28.48px; left: 217.01px; top: 1.59px; position: absolute; background: #AEB0B2"></div>
        <div class="Vector" style="width: 28.95px; height: 21.36px; left: 242.31px; top: 8.70px; position: absolute; background: #AEB0B2"></div>
        <div class="Vector" style="width: 17.56px; height: 21.86px; left: 277.25px; top: 8.70px; position: absolute; background: #AEB0B2"></div>
        <div class="Vector" style="width: 4.03px; height: 30.07px; left: 302.17px; top: 0px; position: absolute; background: #AEB0B2"></div>
        <div class="Vector" style="width: 4.03px; height: 30.07px; left: 313.81px; top: 0px; position: absolute; background: #AEB0B2"></div>
      </div>
      <div class="Vector" style="width: 41.95px; height: 29.56px; left: 50.63px; top: 79.69px; position: absolute; background: #2A3747"></div>
    </div>
  </div>
</div>