<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="design.database.apple.mapper.AccountMapper">

    <select id="getInstallmentAccount" resultType="HashMap">
        SELECT
            u.username,a.account_number,a.balance,atype.product_name AS account_type_name,ins.product_name,ins.duration_of_month,ins.unit_deposit_amount,ins.interest,ins.saving_method,ins.deposit_cycle,ins.expiration_date
        FROM
            Account a
                INNER JOIN user u ON a.user_id = u.user_id
                INNER JOIN account_type atype ON a.account_type_id = atype.product_type_id
                INNER JOIN installment_saving ins ON a.account_id = ins.account_id
        WHERE
            atype.product_name = 'installment_account';
    </select>



</mapper>