<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="design.database.apple.mapper.ManageMapper">

    <select id="getUserList" resultType="HashMap">
        SELECT * FROM user;
    </select>

    <select id="getProductList" resultType="HashMap">
        SELECT u.user_id, u.username, a.account_type_id, att.product_name
        FROM user u
             JOIN account a ON u.user_id = a.user_id
             JOIN account_type att ON a.account_type_id = att.product_type_id;
    </select>

    <select id="getAllProductList" resultType="HashMap">
        SELECT * from product;
    </select>

    <delete id="deleteProductById">
        delete from product where product_id=#{id};
    </delete>

    <delete id="deleteLoanProductById">
        delete from loan_product where product_id=#{id};
    </delete>
</mapper>
